<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Selenium Cucumber TestNG Suite">

    <test name="Chrome Test" enabled="false">
        <parameter name ="browser" value="Chrome" />
        <parameter name ="features" value="src/test/resources/features" />
        <parameter name ="tags" value="@Oppenheimer_UI" />
        <classes>
            <class name="runners.UIRunner" />
        </classes>
    </test>

    <test name="Firefox Test" enabled="false">
        <parameter name ="browser" value="Firefox" />
        <parameter name ="features" value="src/test/resources/features" />
        <parameter name ="tags" value="@Oppenheimer_UI" />
        <classes>
            <class name="runners.UIRunner" />
        </classes>
    </test>

    <test name="IE Test" enabled="false">
        <parameter name ="browser" value="IE" />
        <parameter name ="features" value="src/test/resources/features" />
        <parameter name ="tags" value="@Oppenheimer_UI" />
        <classes>
            <class name="runners.UIRunner" />
        </classes>
    </test>

    <test name="API Test" enabled="true">
        <parameter name ="features" value="src/test/resources/features" />
        <parameter name ="tags" value="@Oppenheimer_API" />
        <classes>
            <class name="runners.APIRunner" />
        </classes>
    </test>

</suite>